/*Rojo:#ED1C24
Blanco:#FFFCF9
Azul-Oscuro:#140F2D
Azul:#467599
Azul-Claro:#B1EDE0*/
.container{
  background: #000000;
  background: -webkit-linear-gradient(to right, #e74c3c, #000000);
  background: linear-gradient(to right, #e74c3c, #000000);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  max-width: 960px;
  width: 100%;
  height: 80vh;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  position: relative;
  padding: 1.8em;
  overflow: scroll;

}
html{
  font-family: 'Roboto Mono', monospace;
}
.title{
  text-transform: uppercase;
  text-align: center;
}
a{
  color: #d500f9;
}
img{
  max-width: 100%;
}
a:hover{
  opacity: 0.8;
}
.paragraph{
  line-height: 1.8em;
  font-weight: 300;
}
.table{
  width: 100%;
  border-spacing: 0;
}
.table th, .table td{
  padding: 1em;
  text-align: left;
}
.table tr:nth-child(even){background-color: #dba8a4}

.fa-futbol-o{
  color: black;
}
.title-item{
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #cc3e31;
  padding-bottom: 1em;
  font-size: 1.5em;
}
.address{
  font-weight: bold;
  color: #cc3e31;
  font-size: 1.2em;
  margin-top: 1em;
  display: inline-block;
}
.main-image{
  float: left;
  margin-right: 1em;
  height: 160px;
}
.position{
  background-color: #cc3e31;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
}
.actions{
  position: absolute;
  top: 1em;
  right: 1em;
}
.close{
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #7d251d;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(min-height:550px){
  .content{
    height: 500px;
  }
}
@media(max-width:600px) {
  .content{
    padding: 1em;
  }
  td{
    display: block;
    width: 100%;
  }
  td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #7d251d;
  }
  th{
    display: none;
  }
}
